/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&family=Merriweather:wght@900&display=swap');

/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Merriweather', serif;  */

/* Header  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation  */
nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-links {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

/* Kotak nav  */
.nav-links li {
    list-style: none;
    border: solid 3px black;
    padding: 6px 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.nav-links li:hover {
    background-color: turquoise;

}

/* Nav font */
.nav-links a{
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: black;
}



/* PART: Logo  */
.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    text-align: center;
}