@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&display=swap');

/* font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    /* background-color: ; */
}

/* TITLE  */
.logo {
    font-family: 'Dancing Script', cursive;
    display: flex;
    width: 40%;
    letter-spacing: 4px;
    justify-content: space-around;
    font-size: 28px;
    /* font-family: ; */
}


.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-size: 25px;
}

.nav-links li {
    list-style: none;
    border: solid 2px black;
    padding: 10px 25px;
}

.nav-links li:hover {
    background-color: yellow;
}

.nav-links a{
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
   letter-spacing: 3px;
   font-weight: solid; 
}

.nav-links a:hover {
 color: black;
}

 @media screen and (max-width: 860px) {
     nav {
        float: none;
        width: 100%;
     }
 } 