/* FONT  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&family=Merriweather:wght@900&display=swap');
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Merriweather', serif;  */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}


body {
    background: whitesmoke;
}


/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 10%;
    background-color: #f1f1f1;
    padding: 20px;
  }


  /* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 80%;
    background-image: url(../img/bg4.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    min-height: 100vh;
  }


  /* Side  */

  /* Profile Image*/
  .side .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
    margin-bottom: 20px;
  } 


  .name {
    text-align: center;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
  }


  .name-dashboard {
    text-align: left;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-bottom: 50px;
  }


  /* navbar side */
  .side a {
      color: black;
      display: block;
      width: 100%;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      justify-content: center;
  }

  a:hover {
      color: aquamarine;
      transition: 0.5s;
  }

  .nav ul {

    text-align: left;
  }
  
  li {
    list-style-type: none;
  }


/* FORM PART  */

form .form-box {
/* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  border: 1px solid #CCC;
  background-color: rgb(233, 233, 233);
  width: 400px;
  padding: 40px 30px 50px 30px;
  text-align: center;
  border-radius: 20px;
}

.name-dashboard {
    color: azure;
}

.box-title {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 45px;
}

.form-box input::placeholder {
    color: grey;
    font-size: 15px;  
    padding-left: 15px;
}

  input,
textarea {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 10px 0;
    padding: 0 15px;
    font-size: 17px;
}

input[type="submit"] {
    margin-top: 15px;
    width: 100%;
    border: 3px solid black;
    background: black;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    /* border-color: ; */
    background: #B88746;
    transition: .5s;
    color: black;
}


  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }

    .side .profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        border-radius: 100px;

      } 
  }
  